body {
margin: 0;
font-family: arial;
 background: #3b2f4a;
  color: white;
  text-align: center;

}

.container {
padding-top: 40px;
}

.icons {

  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 60px;
  margin-bottom: 40px;
}

.game-area {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.card {
  width: 400px;
  height: 300px;
  background: #ccc;
  box-shadow: -10px 10px 0 #2a2333;
  position: relative;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ai-choice {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  background: #4caf50;
  border: none;
  padding: 15px 40px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#resultText {
  font-size: 48px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1 !important;
}

.score {
  margin-top: 20px;
  font-size: 24px;
}

.hint {
  margin-top: 20px;
  font-size: 20px;
  opacity: 0.8;
}

.countdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 999;
}


.countdown.show {
  opacity: 1;
}

.countdown.pop {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.detected {
  position: absolute;
  bottom: 10px; /* i.p.v. -35px */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
}